[submodule "src/dependencies/trilateration"]
	path = src/dependencies/trilateration
	url = https://github.com/mohabouje/Indoor-navigation-algorithms.git
[submodule "src/dependencies/catch"]
	path = src/dependencies/catch
	url = https://github.com/philsquared/Catch.git
