[submodule "src/dependencies/trilateration"]
	path = src/dependencies/trilateration
	url = https://github.com/mohabouje/Indoor-navigation-algorithms.git
[submodule "src/dependencies/uuid"]
	path = src/dependencies/uuid
	url = https://github.com/boostorg/uuid.git
